* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: scroll;
}

/*** HEADER ***/

header {
  max-width: 100%;
  padding: 50px 35px 0 35px;
  background-color: #072BCE;
}

.social-media-icons {
  position: absolute;
  z-index: 1;
  top: 3vh;
  left: 67vw;
}

.icon {
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  margin: 0 1.5px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title-header {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0.52px;
  color: #FFFFFF;
  text-transform: uppercase;
  z-index: 1;
}

.bold {
  font-weight: bold;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  z-index: 1;
}

h1:nth-child(4) {
  font-size: 24px;
}

.profile-image {
  z-index: 1;
  width: 110px;
  height: 110px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  filter: brightness(1.1);
  position: absolute;
  top: 13vh;
  left: 60.5vw;
}

.hero-image {
  max-width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  filter: brightness(0.6);
}

/* HEADER tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 95px 125px 50px 125px;
  }
  .social-media-icons {
    top: 6vh;
    left: 67vw;
  }
  .title-header {
    font-size: 21px;
    letter-spacing: 0.82px;
  }
  h1 {
    font-size: 62px;
  }
  h1:nth-child(4) {
    font-size: 37px;
  }
  .profile-image {
    width: 170px;
    height: 170px;
    top: 20vh;
    left: 58.5vw;
  }
}

/* HEADER desktop view*/

@media (min-width: 1024px) {
  header {
    padding: 160px 135px 60px 135px;
  }
  .title-header {
    font-size: 28px;
    letter-spacing: 1.12px;
  }
  h1 {
    font-size: 82px;
  }
  h1:nth-child(4) {
    font-size: 50px;
  }
  .profile-image {
    width: 300px;
    height: 300px;
    top: 27vh;
    left: 56.5vw;
  }
}

/*** INTRODUCTION ***/

.introduction {
  padding: 58px 37px 56px 37px;
  background-color: #F4F4F4;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #000000;
}

.intro-hello {
  color: #FA382F;
  font-weight: bold;
}

/*INTRODUCTION tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  .introduction {
    padding: 60px 125px 70px 125px;
    background-color: #F4F4F4;
  }
  h2 {
    font-size: 24px;
  }
}

/*INTRODUCTION desktop view*/

@media (min-width: 1024px) {
  .introduction {
    padding: 160px 135px 60px 135px;
    background-color: #F4F4F4;
  }
  h2 {
    font-size: 30px;
  }
}

/*** TECH ***/

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  border: 1px solid #FA382F;
  background-color: #FA382F;
  padding: 3px 10px;
  margin-bottom: 37px;
  /*added on 8/10 to fit the background color to text width*/
  width: fit-content;
  align-self: center;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 37px 70px 37px;
  background-color: #FFFFFF;
  text-align: center;
}

/*TECH tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 35px;
    margin-bottom: 43px;
  }
  .tech {
    padding: 80px 125px 70px 125px;
  }
  .text-red {
    color: #FA382F;
  }
}

/*TECH desktop view*/

@media (min-width: 1024px) {
  h3 {
    font-size: 48px;
    margin-bottom: 43px;
  }
  .tech {
    padding: 90px 135px;
  }
  .text-red {
    color: #FA382F;
  }
}

/*** FEATURED PROJECTS ***/

.featured-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 58px 37px 0 37px;
  background-color: #F4F4F4;
}

.featured:nth-child(2) {
  margin-bottom: 30px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #000000;
  margin-top: 21px;
  line-height: 1.5;
}

.featured-img-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.featured-img {
  width: 100%;
  opacity: 38%;
}

.featured-span {
  font-weight: bold;
  color: #FA382F;
}

.featured-tag-wrapper {
  display: flex;
  justify-content: left;
}

.featured-tag {
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  border: 1px solid #FDDFE7;
  background-color: #FDDFE7;
  padding: 4px 8px 3px 6px;
  margin: 20px 8px 20px 0;
}

/*FEATURED PROJECTS tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  .featured-projects {
    padding: 80px 125px 0 125px;
  }
  h4 {
    font-size: 21px;
    margin-top: 21px;
    line-height: 1.5;
  }
  .featured-tag {
    font-size: 13px;
    padding: 4px 8px 3px 6px;
    margin: 20px 8px 20px 0;
  }
}

/*FEATURED PROJECTS desktop view*/

@media (min-width: 1024px) {
  .featured {
    margin: 5px;
  }
  .featured:nth-child(2) {
    margin-bottom: 0;
  }
  .featured-projects {
    padding: 80px 135px 0 135px;
  }
  .featured-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .featured-img-wrapper {
    width: 95%;
    height: 220px;
  }
  h4 {
    font-size: 25px;
    margin-top: 21px;
    line-height: 1.5;
  }
  .featured-tag {
    font-size: 16px;
    padding: 4px 8px 3px 6px;
    margin: 20px 8px 20px 0;
  }
}

/*** OTHER PROJECTS ***/

.other-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 58px 37px 50px 37px;
  background-color: #F4F4F4;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #FA382F;
  margin-bottom: 20px;
  align-self: center;
}

/*OTHER PROJECTS tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  .other-projects {
    padding: 75px 125px 70px 125px;
  }
  h5 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

/*OTHER PROJECTS desktop view*/

@media (min-width: 1024px) {
  .other-projects {
    padding: 75px 135px 70px 135px;
  }
  h5 {
    font-size: 38px;
    margin-bottom: 30px;
  }
}

/*** MY THOUGHTS ***/

.my-thoughts {
  display: flex;
  flex-direction: column;
  padding: 58px 37px 0 37px;
  background-color: #FFFFFF;
}

.article-wrapper {
  margin: 10px 0 35px 0;
}

.title-hidden {
  display: none;
}

.article-date {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #FA382F;
  margin: 30px 0 5px 0;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #000000;
  line-height: 1.5;
}

.h4-my-thoughts {
  margin-top: 2px;
  line-height: 1.9;
}

/*MY THOUGHTS tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  .my-thoughts {
    padding: 80px 125px 0 125px;
  }
  .article-wrapper {
    margin: 40px 0 20px 0;
  }
  .article-date {
    font-size: 21px;
    margin: 30px 0 5px 0;
  }
  .thoughts-img-tablet-desktop {
    width: 100%;
  }
  h6 {
    font-size: 25px;
    line-height: 1.5;
  }
}

/*MY THOUGHTS desktop view*/

@media (min-width: 1024px) {
  .my-thoughts {
    padding: 105px 135px 0 135px;
  }
  .title-visible {
    display: none;
  }
  .title-hidden {
    display: block;
  }
  .articles {
    display: flex;
    justify-content: space-between;
  }
  .article-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 46%;
  }
  .article-date {
    font-size: 25px;
    margin: 45px 0 5px 0;
  }
  h6 {
    font-size: 30px;
  }
}

/*** MORE THOUGHTS ***/

.more-thoughts-wrap {
  display: flex;
  flex-direction: column;
}

.h4-more-thoughts {
  margin-top: 24px;
  line-height: 1.5;
}

/*MORE THOUGHTS tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  .my-thoughts>h5 {
    margin-bottom: 20px;
  }
}

/*MORE THOUGHTS desktop view*/

@media (min-width: 1024px) {
  .my-thoughts>h5 {
    margin-bottom: 20px;
  }
}

/*** SKILLS ***/

.h3-skills {
  margin: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  background-color: #F4F4F4;
  padding: 57px 37px;
  /* border: 1px solid blue; */
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid green; */
}

.skills-wrapper-individual {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  /* border: 1px solid red; */
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #000000;
  line-height: 1.5;
}

/*SKILLS tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  .skills {
    margin-top: 65px;
    padding: 80px 125px;
  }
  .skills-wrapper-individual {
    padding: 0 15px;
  }
  li {
    font-size: 21px;
    line-height: 1.5;
  }
}

/*SKILLS desktop view*/

@media (min-width: 1024px) {
  .skills {
    padding: 93px 135px;
  }
  .skills-wrapper-individual {
    padding: 0 30px;
  }
  li {
    font-size: 25px;
    line-height: 1.5;
  }
}

/*** FOR MORE ***/

.social-media {
  display: flex;
  flex-direction: column;
}

.social-media-icons-bottom {
  display: flex;
  justify-content: space-evenly;
}

.icon-bottom {
  border: 3px solid #fa382f;
  border-radius: 50%;
  margin: 0 20px;
}

.icon-bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-bottom-wrapper>p {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #FA382F;
  margin-top: 12px;
}

/*FOR MORE desktop view*/

@media (min-width: 1024px) {
  .social-media-icons-bottom {
    display: flex;
    justify-content: center;
  }
  .icon-bottom-wrapper {
    margin: 10px;
  }
}

/*** CONTACT ***/

.contact {
  background-color: #072BCE;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 37px 80px 37px;
}

.h3-contact {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #FFFFFF;
  border: 1px solid #072BCE;
  background-color: #072BCE;
}

.contact-wrapper>p {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #FFFFFF;
  line-height: 1.8;
}

.contact-name {
  font-weight: bold;
}

/*CONTACT tablet view*/

@media (min-width: 768px) and (max-width: 1023px) {
  .contact-wrapper {
    padding: 80px 125px 100px 125px;
  }
  .h3-contact {
    font-size: 30px;
  }
  .contact-wrapper>p {
    font-size: 26px;
  }
}

/*CONTACT desktop view*/

@media (min-width: 1024px) {
  .contact-wrapper {
    padding: 120px 135px 100px 135px;
  }
  .h3-contact {
    font-size: 38px;
  }
  .contact-wrapper>p {
    font-size: 30px;
  }
}